Repository windingtree/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,js}": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"]
}

chore: 🤖 Still trying
  .github/workflows/release.yml
Due: none

chore: 🤖 Added .npmrc config
  .github/workflows/release.yml
Due: none

chore: 🤖 Updated lerna.json
  lerna.json
Due: none

chore: 🤖 Style fixes
  packages/client/CHANGELOG.md
  packages/constants/CHANGELOG.md
  packages/contracts-manger/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/messages/CHANGELOG.md
  packages/node-api/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/pubsub/CHANGELOG.md
  packages/queue/CHANGELOG.md
  packages/server/CHANGELOG.md
  packages/storage/CHANGELOG.md
  packages/test-utils/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: prettier --write

chore: 🤖 Release script cleanup
  .github/workflows/release.yml
Due: none

chore: 🤖 Update root package.json
  package.json
Due: none

chore: 🤖 Update package config for @windingtree/sdk-react
  packages/react/package.json
Due: none

chore: 🤖 Removed message from lerna config
  lerna.json
Due: none

test: 💍 move e2e test to package
  examples/e2e-tests/package.json
  examples/e2e-tests/test/e2e.spec.ts
  examples/e2e-tests/test/examples/client.ts
  examples/e2e-tests/test/examples/node.ts
  examples/e2e-tests/test/examples/peerKey.json
  examples/e2e-tests/test/examples/server.ts
  examples/e2e-tests/tsconfig.json
Due: prettier --write, eslint --fix

test: move e2e tests to own package
  examples/e2e-tests/package.json
  examples/e2e-tests/test/examples/client.ts
  examples/e2e-tests/test/examples/server.ts
  examples/e2e-tests/tsconfig.json
  package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: prettier --write, eslint --fix

test: rename e2e tests name in package.json and change description
  examples/e2e-tests/package.json
Due: none

docs: ✏️ Added readme file for the `client` package
  packages/client/README.md
Due: prettier --write

docs: ✏️ Added readme dile for the `constants` package
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/constants/CHANGELOG.md
  packages/constants/README.md
  packages/contracts-manger/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/messages/CHANGELOG.md
  packages/node-api/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/pubsub/CHANGELOG.md
  packages/queue/CHANGELOG.md
  packages/server/CHANGELOG.md
  packages/storage/CHANGELOG.md
  packages/test-utils/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: prettier --write

chore: 🤖 Updated readme style for the `constants`
  packages/constants/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `contracts-manager` package
  packages/contracts-manger/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `db` package
  packages/db/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `logger` package
  packages/logger/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `messages` package
  packages/messages/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `node` package
  packages/node/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `pubsub` package
  packages/pubsub/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `queue` package
  packages/queue/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `node-api` package
  packages/node-api/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `server` package
  packages/server/README.md
Due: prettier --write

docs: ✏️ Added readme for the `test-utils` package
  packages/test-utils/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `storage` package
  packages/storage/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `react` package
  packages/react/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `types` package
  packages/types/README.md
Due: prettier --write

docs: ✏️ Added readme file for the `utils` package
  packages/utils/README.md
Due: prettier --write

chore: 🤖 use superjson for serialisation
  examples/client/package.json
  examples/client/src/components/MakeDeal.tsx
  examples/client/src/components/Offers.tsx
  examples/client/src/components/Requests.tsx
  examples/manager/package.json
  examples/manager/src/components/DealSeek.tsx
  examples/manager/src/components/Deals.tsx
  packages/client/package.json
  packages/client/src/index.ts
  packages/contracts-manger/package.json
  packages/contracts-manger/src/index.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/requestManager.ts
  packages/node/test/requestManager.spec.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 🤖 update offer parse data
  packages/client/src/index.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added a node peer key generagtion script
  package.json
  scripts/peerId.js
  tsconfig.json
Due: prettier --write, eslint --fix

feat: 🎸 Added a server address generation script
  package.json
  scripts/peerKey.js
  scripts/serverAddress.js
Due: prettier --write, eslint --fix

docs: ✏️ Updated `Getting started` docs page
  docs/docs/index.md
  docs/package.json
  docs/yarn.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: 🤖 Multiple linter fixes
  docs/package.json
  examples/client/index.html
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/src/components/Deals.tsx
  examples/client/src/components/MakeDeal.tsx
  examples/client/src/components/Offers.tsx
  examples/client/src/components/Requests.tsx
  examples/client/src/main.tsx
  examples/e2e-tests/package.json
  examples/e2e-tests/test/examples/client.ts
  examples/e2e-tests/test/examples/node.ts
  examples/e2e-tests/test/examples/server.ts
  examples/e2e-tests/tsconfig.json
  examples/manager/index.html
  examples/manager/package.json
  examples/manager/src/components/ConfigForm.tsx
  examples/manager/src/components/DealCheckInOut.tsx
  examples/manager/src/components/DealSeek.tsx
  examples/manager/src/components/Deals.tsx
  examples/manager/src/components/LoginWidget.tsx
  examples/manager/src/components/Supplier.tsx
  examples/manager/src/components/UserRegister.tsx
  examples/manager/src/main.tsx
  examples/node/package.json
  examples/node/src/index.ts
  examples/node/tsconfig.json
  examples/server/package.json
  examples/server/src/index.ts
  examples/server/tsconfig.json
  examples/shared/package.json
  examples/shared/tsconfig.json
  package.json
  packages/react/README.md
  pnpm-lock.yaml
  vitest.workspace.ts
Due: prettier --write, eslint --fix

ci: 🎡 Switched to `build:ci` command in "Install dependenies"
  .github/actions/install-dependencies/action.yml
Due: none

chore: 🤖 Disabled parallel mode of linting
  package.json
Due: none

docs: ✏️ Updated the protocol overview doc
  docs/docs/protocol.md
  docs/index.html
Due: prettier --write

docs: ✏️ Updated the `coordination server` docs page
  docs/docs/coordinator.md
Due: prettier --write

docs: ✏️ Updated protocol clients docs
  docs/docs/clients.md
  docs/docs/sidebar.md
Due: prettier --write

docs: ✏️ Updated docs for storage package
  docs/docs/storage.md
Due: prettier --write
