Repository windingtree/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: 💡 ConfigProvider now uses reducer for state updates
  examples/manager/src/components/ConfigForm.tsx
  examples/manager/src/providers/ConfigProvider/ConfigProviderContext.ts
  examples/manager/src/providers/ConfigProvider/index.tsx
Due: prettier --write, eslint --fix

feat: 🎸 Added custom config interface to the manager app
  examples/manager/src/main.tsx
Due: none

fix: 🐛 Fixed unhandled error in the unauthorizedLink utility
  src/node/api/client.ts
Due: prettier --write, eslint --fix

chore: 🤖 Changed error message in case of failed connection
  examples/manager/src/providers/NodeProvider/index.tsx
Due: none

chore: 🤖 Clear button is disabled id offerId not provided
  examples/manager/src/components/DealSeek.tsx
Due: none

feat: 🎸 Added Suppliers component to the node manager app
  examples/manager/src/components/Supplier.tsx
Due: none

feat: 🎸 Added copyToClipboard utility
  examples/react-libs/src/utils/index.ts
Due: prettier --write, eslint --fix

chore: 🤖 Enabled Suppliers component
  examples/manager/src/App.tsx
Due: none

feat: 🎸 Added entity-related functions to the ProtocolContracts
  src/shared/contracts.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added ContractsProvider
  examples/react-libs/src/providers/ContractsProvider/ContractsProviderContext.ts
  examples/react-libs/src/providers/ContractsProvider/index.tsx
Due: prettier --write, eslint --fix

chore: 🤖 ContractsProvider enabled in the node manager app
  examples/manager/src/main.tsx
Due: none

feat: 🎸 Added feature for manage entity to the node manager app
  examples/manager/src/components/Supplier.tsx
Due: none

feat: 🎸 node and client reconnect after connection is down
  src/client/index.ts
  src/node/index.ts
Due: prettier --write, eslint --fix

chore: generate env vars in tests
  test/examples/client.ts
  test/examples/node.ts
  test/examples/server.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added basic monorepo configuration
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierrc.json
  README.md
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write

feat: 🎸 Added `sdk-logger` package
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/test/logger.spec.ts
  packages/logger/tsconfig-build.json
  packages/logger/tsconfig.json
  packages/logger/vite.config.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added `sdk-storage` package
  packages/storage/package.json
  packages/storage/src/abstract.ts
  packages/storage/src/index.ts
  packages/storage/src/local.ts
  packages/storage/src/memory.ts
  packages/storage/test/storage.memory.spec.ts
  packages/storage/tsconfig-build.json
  packages/storage/tsconfig.json
  packages/storage/vite.config.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added `types` package
  OLD_CODEBASE/src/shared/contracts.ts
  packages/storage/package.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig-build.json
  packages/types/tsconfig.json
  packages/types/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `contracts-manager` package
  OLD_CODEBASE/src/utils/offer.ts
  packages/contracts-manger/package.json
  packages/contracts-manger/src/index.ts
  packages/contracts-manger/tsconfig-build.json
  packages/contracts-manger/tsconfig.json
  packages/contracts-manger/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `utils` package
  packages/utils/package.json
  packages/utils/src/h3.ts
  packages/utils/src/index.ts
  packages/utils/src/regex.ts
  packages/utils/src/text.ts
  packages/utils/src/time.ts
  packages/utils/src/uid.ts
  packages/utils/src/wallet.ts
  packages/utils/test/utils.text.spec.ts
  packages/utils/test/utils.time.spec.ts
  packages/utils/test/utils.uid.spec.ts
  packages/utils/tsconfig-build.json
  packages/utils/tsconfig.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 🤖 Updated buid scripts for some packages
  packages/contracts-manger/package.json
  packages/contracts-manger/vite.config.ts
  packages/logger/package.json
  packages/logger/vite.config.ts
  packages/storage/package.json
  packages/storage/vite.config.ts
  packages/types/package.json
  packages/types/vite.config.ts
Due: prettier --write, eslint --fix

chore: 🤖 Updated `setup` commands section in the Readme.md
  README.md
Due: prettier --write

feat: 🎸 Added `queue` package
  packages/queue/package.json
  packages/queue/src/index.ts
  packages/queue/test/queue.spec.ts
  packages/queue/tsconfig-build.json
  packages/queue/tsconfig.json
  packages/queue/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `test-utils` and `massages` packages
  .lintignore
  .prettierignore
  package.json
  packages/contracts-manger/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/messages/src/index.ts
  packages/messages/test/messages.spec.ts
  packages/messages/tsconfig-build.json
  packages/messages/tsconfig.json
  packages/messages/vite.config.ts
  packages/queue/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/test-utils/tsconfig-build.json
  packages/test-utils/tsconfig.json
  packages/test-utils/vite.config.ts
  packages/utils/package.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `constants` and `pubsub` packages
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/tsconfig-build.json
  packages/constants/tsconfig.json
  packages/constants/vite.config.ts
  packages/pubsub/package.json
  packages/pubsub/src/cache.ts
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig-build.json
  packages/pubsub/tsconfig.json
  packages/pubsub/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 🤖 Lintstaged removed. Replaced with `pnpm lint`
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 Added `server` package
  .husky/pre-commit
  OLD_CODEBASE/src/index.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/tsconfig-build.json
  packages/server/tsconfig.json
  packages/server/vite.config.ts
  packages/types/src/index.ts
  packages/types/src/options.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `client` package
  packages/client/package.json
  packages/client/src/dealsManager.ts
  packages/client/src/index.ts
  packages/client/src/requestsManager.ts
  packages/client/tsconfig-build.json
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `db` package
  packages/db/package.json
  packages/db/src/deals.ts
  packages/db/src/index.ts
  packages/db/src/users.ts
  packages/db/test/db.deals.spec.ts
  packages/db/test/db.users.spec.ts
  packages/db/tsconfig-build.json
  packages/db/tsconfig.json
  packages/db/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `db` package
  packages/db/package.json
  packages/db/test/db.deals.spec.ts
  packages/db/test/db.users.spec.ts
  packages/storage/package.json
  packages/storage/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `node-api` package
  packages/node-api/package.json
  packages/node-api/src/client.ts
  packages/node-api/src/constants.ts
  packages/node-api/src/index.ts
  packages/node-api/src/router/admin.ts
  packages/node-api/src/router/deals.ts
  packages/node-api/src/router/index.ts
  packages/node-api/src/router/service.ts
  packages/node-api/src/router/user.ts
  packages/node-api/src/router/utils.ts
  packages/node-api/src/server.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/node-api/tsconfig-build.json
  packages/node-api/tsconfig.json
  packages/node-api/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added `node` package
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/requestManager.ts
  packages/node/test/requestManager.spec.ts
  packages/node/tsconfig-build.json
  packages/node/tsconfig.json
  packages/node/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added missed tests to the client package
  packages/client/package.json
  packages/client/test/requestManager.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Enable vitest run from the root with coverage
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix

chore: 🤖 Enabled GitHub testing workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/.gitkeep
  .github/actions/install-dependencies/action.yml
  .github/workflows/test.yml
  OLD_CODEBASE/.github/workflows/test.yml
Due: prettier --write

chore: 🤖 Added pnpm version to the pnpm setup action
  .github/actions/install-dependencies/action.yml
Due: none

chore: 🤖 Direct eslint/prettier run instead of lerna run
  package.json
Due: none

chore: 🤖 Added missed `build` step to the install deps workflow
  .github/actions/install-dependencies/action.yml
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.md)
  eslint --fix: any of: *.{ts,js}
