Repository windingtree/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 🐛 Fixed typo in package.json
  package.json
Due: none

chore: 🤖 Updated scripts in the root
  package.json
  packages/client/tsconfig.json
  packages/constants/tsconfig.json
  packages/contracts-manger/tsconfig.json
  packages/db/tsconfig.json
  packages/logger/tsconfig.json
  packages/messages/tsconfig.json
  packages/pubsub/tsconfig.json
  packages/queue/tsconfig.json
  packages/server/tsconfig.json
  packages/storage/tsconfig.json
  packages/test-utils/tsconfig.json
  packages/types/tsconfig.json
  packages/utils/tsconfig.json
Due: none

chore: 🤖 Added --if-present to the scripts in the root
  package.json
Due: none

chore: 🤖 Updated deps versions
  examples/node/package.json
  examples/server/package.json
  package.json
  packages/client/package.json
  packages/contracts-manger/package.json
  packages/db/package.json
  packages/messages/package.json
  packages/node-api/package.json
  packages/node/package.json
  packages/queue/package.json
  packages/server/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

refactor: 💡 Added refactored protocol server example
  examples/server/src/index.ts
  examples/server/tsconfig.json
  examples/shared/index.ts
  packages/client/test/requestManager.spec.ts
Due: prettier --write, eslint --fix

refactor: 💡 Added refactored the protocol client example
  OLD_CODEBASE/examples/client/tsconfig.node.json
  OLD_CODEBASE/examples/client/yarn.lock
  OLD_CODEBASE/examples/react-libs/package.json
  OLD_CODEBASE/examples/react-libs/src/index.ts
  OLD_CODEBASE/examples/react-libs/src/providers/index.ts
  OLD_CODEBASE/examples/react-libs/tsconfig.node.json
  OLD_CODEBASE/examples/react-libs/vite.config.ts
  OLD_CODEBASE/examples/react-libs/yarn.lock
  examples/client/.env.example
  examples/client/index.html
  examples/client/package.json
  examples/client/public/vite.svg
  examples/client/src/App.tsx
  examples/client/src/components/Deals.tsx
  examples/client/src/components/MakeDeal.tsx
  examples/client/src/components/Offers.tsx
  examples/client/src/components/RequestForm.tsx
  examples/client/src/components/Requests.tsx
  examples/client/src/components/Tabs.tsx
  examples/client/src/main.tsx
  examples/client/src/vite-env.d.ts
  examples/client/tsconfig.json
  examples/client/vite.config.ts
  package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/providers/ContractsProvider/ContractsProviderContext.ts
  packages/react/src/providers/ContractsProvider/index.tsx
  packages/react/src/providers/WalletProvider/AccountWidget.tsx
  packages/react/src/providers/WalletProvider/ConnectButton.tsx
  packages/react/src/providers/WalletProvider/WalletProviderContext.ts
  packages/react/src/providers/WalletProvider/index.tsx
  packages/react/src/providers/index.ts
  packages/react/src/utils/index.ts
  packages/react/src/vite-env.d.ts
  packages/react/tsconfig.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: ✏️ Updated README.md
  README.md
Due: prettier --write

feat: 🎸 NodeProvider and ConfigProvider are added to sdk-react
  packages/node-api/package.json
  packages/node-api/tsup.config.ts
  packages/react/package.json
  packages/react/src/providers/ConfigProvider/ConfigProviderContext.ts
  packages/react/src/providers/ConfigProvider/index.tsx
  packages/react/src/providers/NodeProvider/NodeProviderContext.ts
  packages/react/src/providers/NodeProvider/index.tsx
  packages/react/src/providers/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 🤖 move example manager to package from old base
  OLD_CODEBASE/examples/manager/yarn.lock
  examples/client/tsconfig.node.json
  examples/manager/.env.example
  examples/manager/index.html
  examples/manager/package.json
  examples/manager/public/vite.svg
  examples/manager/src/App.tsx
  examples/manager/src/components/ConfigForm.tsx
  examples/manager/src/components/DealCheckInOut.tsx
  examples/manager/src/components/DealSeek.tsx
  examples/manager/src/components/Deals.tsx
  examples/manager/src/components/LoginWidget.tsx
  examples/manager/src/components/Supplier.tsx
  examples/manager/src/components/Tabs.tsx
  examples/manager/src/components/UserRegister.tsx
  examples/manager/src/components/UserUpdate.tsx
  examples/manager/src/main.tsx
  examples/manager/src/vite-env.d.ts
  examples/manager/tsconfig.json
  examples/manager/vite.config.ts
Due: prettier --write, eslint --fix

chore: move manager example from old base to examples package
  examples/client/index.html
  examples/manager/package.json
  examples/manager/src/App.tsx
  examples/manager/src/components/ConfigForm.tsx
  examples/manager/src/components/DealCheckInOut.tsx
  examples/manager/src/components/DealSeek.tsx
  examples/manager/src/components/Deals.tsx
  examples/manager/src/components/LoginWidget.tsx
  examples/manager/src/components/Supplier.tsx
  examples/manager/src/components/UserRegister.tsx
  examples/manager/src/components/UserUpdate.tsx
  examples/manager/src/main.tsx
  package.json
  pnpm-lock.yaml
Due: none

test: 💍 move e2e tests to root from old base
  OLD_CODEBASE/.github/ISSUE_TEMPLATE/bug_report.md
  OLD_CODEBASE/.github/ISSUE_TEMPLATE/feature_request.md
  OLD_CODEBASE/.github/PULL_REQUEST_TEMPLATE/.gitkeep
  OLD_CODEBASE/.github/workflows/release.yml
  OLD_CODEBASE/.mocharc.json
  OLD_CODEBASE/package.json
  OLD_CODEBASE/test/index.spec.ts
  OLD_CODEBASE/test/setup.ts
  OLD_CODEBASE/typedoc.json
  OLD_CODEBASE/yarn.lock
  test/e2e.spec.ts
  test/examples/client.ts
  test/examples/node.ts
  test/examples/server.ts
  test/peerKey.json
Due: prettier --write, eslint --fix

test: move e2e tests to root directory
  package.json
  pnpm-lock.yaml
  test/e2e.spec.ts
  test/examples/client.ts
  test/examples/node.ts
  test/examples/server.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix

chore: add dependencies
  examples/manager/package.json
  package.json
  pnpm-lock.yaml
  test/examples/node.ts
Due: prettier --write, eslint --fix

chore: 🤖 Set start packages version to 1.0.0
  packages/client/package.json
  packages/constants/package.json
  packages/contracts-manger/package.json
  packages/db/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/node-api/package.json
  packages/node/package.json
  packages/pubsub/package.json
  packages/queue/package.json
  packages/react/package.json
  packages/server/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/types/package.json
  packages/utils/package.json
Due: none

feat: 🎸 Added release workflow script
  .github/workflows/release.yml
  lerna.json
  packages/client/package.json
  packages/constants/package.json
  packages/contracts-manger/package.json
  packages/db/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/node-api/package.json
  packages/node/package.json
  packages/pubsub/package.json
  packages/queue/package.json
  packages/react/package.json
  packages/server/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/types/package.json
  packages/utils/package.json
  tsconfig.json
Due: none

chore: 🤖 Merged with latest changes from the PR #43
  tsconfig.json
Due: none

fix: 🐛 Possible fix to the release workflow gpg import error
  .github/workflows/release.yml
Due: none

fix: 🐛 Possible fix to the release workflow gpg import error #2
  .github/workflows/release.yml
Due: none

fix: 🐛 Possible fix for release workflow tags signing error
  .github/workflows/release.yml
Due: none

feat: 🎸 Using crazy-max/ghaction-import-gpg@v5 in release flow
  .github/workflows/release.yml
Due: none

chore: 🤖 Added key passphrase to the release script
  .github/workflows/release.yml
Due: none

chore: 🤖 Still fixing release action
  .github/workflows/release.yml
Due: none

chore: 🤖 lerna version --concurrency 1
  .github/workflows/release.yml
Due: none

chore: 🤖 Trying to create GNUPGHOME
  .github/workflows/release.yml
Due: none

chore: 🤖 Added GNUPGHOME creation step
  .github/workflows/release.yml
Due: none

chore: 🤖 Temporarry disabled lint and test during release
  .github/workflows/release.yml
Due: none

chore: 🤖 Still fixing gpg: signing failed: Cannot allocate
  .github/workflows/release.yml
Due: none

chore: 🤖 Trying to use olxbr/setup-gpg-action
  .github/workflows/release.yml
Due: none

chore: 🤖 Trying to use olafurpg/setup-gpg@v3
  .github/workflows/release.yml
Due: none

chore: 🤖 Return to crazy-max/ghaction-import-gpg@v5
  .github/workflows/release.yml
Due: none

chore: 🤖 Lerna in debug mode
  .github/workflows/release.yml
Due: none

chore: 🤖 Make github release on master only
  .github/workflows/release.yml
  lerna.json
Due: none

chore: 🤖 Disabled tags signing
  .github/workflows/release.yml
Due: none

chore: 🤖 Trying to persist-credentials: false in release workfl
  .github/workflows/release.yml
Due: none

chore: 🤖 Trying with PAT
  .github/workflows/release.yml
Due: none

chore: 🤖 Removed persist-credentials: false
  .github/workflows/release.yml
Due: none

chore: 🤖 Still trying
  .github/workflows/release.yml
  lerna.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.md)
  eslint --fix: any of: *.{ts,js}
