Repository windingtree/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,js}": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"]
}

docs: ✏️ Updated examples docs
  docs/docs/examples.md
Due: prettier --write

docs: ✏️ Updated availability, contribution and nodes docs
  docs/docs/availability.md
  docs/docs/contribution.md
  docs/docs/index.md
  docs/docs/nodes.md
Due: prettier --write

docs: ✏️ Updated node package docs
  docs/docs/nodes.md
Due: prettier --write

refactor: 💡 Docs files moved to the docs root
  docs/assets/favicon.png
  docs/availability.md
  docs/clients.md
  docs/contribution.md
  docs/coordinator.md
  docs/docs/.nojekyll
  docs/docs/sidebar.md
  docs/examples.md
  docs/index.html
  docs/index.md
  docs/nodes.md
  docs/protocol.md
  docs/sidebar.md
  docs/storage.md
Due: prettier --write

ci: 🎡 Updated config for release flow
  .github/workflows/release.yml
Due: none

feat: update reconnect flow, update e2e tests
  examples/client/src/App.tsx
  examples/e2e-tests/test/e2e.spec.ts
  examples/e2e-tests/test/examples/client.ts
  examples/e2e-tests/test/examples/server.ts
  packages/client/src/index.ts
  packages/node/src/index.ts
Due: prettier --write, eslint --fix

feat: 🎸 Contracts version is changed to 1.0.0
  README.md
  examples/e2e-tests/package.json
  examples/manager/package.json
  examples/node/package.json
  packages/client/package.json
  packages/contracts-manger/package.json
  packages/db/package.json
  packages/messages/package.json
  packages/queue/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: 🎡 Added branch-depended npm publishing dist-tag
  .github/workflows/release.yml
Due: none

chore: 🤖 Prettier fixes
  packages/client/CHANGELOG.md
  packages/constants/CHANGELOG.md
  packages/contracts-manger/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/messages/CHANGELOG.md
  packages/node-api/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/pubsub/CHANGELOG.md
  packages/queue/CHANGELOG.md
  packages/server/CHANGELOG.md
  packages/storage/CHANGELOG.md
  packages/test-utils/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: prettier --write

feat: move renew subscribe flow to request manager
  examples/client/src/App.tsx
  packages/client/src/index.ts
  packages/client/src/requestsManager.ts
  packages/node/src/index.ts
Due: prettier --write, eslint --fix

feat: add force param to subscribe method in requests manager
  packages/client/src/requestsManager.ts
Due: prettier --write, eslint --fix

feat: 🎸 Added providers for client and requestsManager
  packages/react/CHANGELOG.md
  packages/react/README.md
  packages/react/package.json
  packages/react/src/providers/ClientProvider/ClientProviderContext.ts
  packages/react/src/providers/ClientProvider/index.tsx
  packages/react/src/providers/ConfigProvider/index.tsx
  packages/react/src/providers/ContractsProvider/index.tsx
  packages/react/src/providers/NodeProvider/index.tsx
  packages/react/src/providers/RequestsManagerProvider/RequestsManagerProviderContext.ts
  packages/react/src/providers/RequestsManagerProvider/index.tsx
  packages/react/src/providers/WalletProvider/index.tsx
  packages/react/src/providers/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Added DealsManagerProvider to the react package
  packages/react/src/providers/DealsManagerProvider/DealsManagerProviderContext.ts
  packages/react/src/providers/DealsManagerProvider/index.tsx
Due: prettier --write, eslint --fix

refactor: 💡 Added custom typing to the RequestsManagerProvider
  packages/react/src/providers/RequestsManagerProvider/RequestsManagerProviderContext.ts
  packages/react/src/providers/RequestsManagerProvider/index.tsx
Due: prettier --write, eslint --fix

refactor: 💡 Added custom typing to the CLientProvider
  packages/react/src/providers/ClientProvider/ClientProviderContext.ts
  packages/react/src/providers/ClientProvider/index.tsx
Due: prettier --write, eslint --fix

fix: 🐛 Missed exaports are added to the react package
  packages/react/src/providers/index.ts
Due: prettier --write, eslint --fix

refactor: 💡 New providers used in the Client example
  examples/client/src/App.tsx
  examples/client/src/main.tsx
Due: none

feat: add level db storage
  .gitignore
  packages/storage/package.json
  packages/storage/src/abstract.ts
  packages/storage/src/level.ts
  packages/storage/test/level.memory.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: fix async issues
  packages/db/src/deals.ts
  packages/pubsub/src/cache.ts
  packages/pubsub/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: improve test coverage
  package.json
  packages/constants/package.json
  packages/constants/test/constans.spec.ts
  packages/contracts-manger/package.json
  packages/contracts-manger/test/contractsManager.spec.ts
  packages/db/test/db.deals.spec.ts
  packages/messages/test/messages.spec.ts
  packages/node-api/package.json
  packages/node-api/src/router/deals.ts
  packages/node-api/src/router/user.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/node/src/index.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

Rename constans.spec.ts to constants.spec.ts
  packages/constants/test/constants.spec.ts
Due: prettier --write, eslint --fix

feat: 🎸 Base expo-node setup
  examples/expo-node/.gitignore
  examples/expo-node/App.tsx
  examples/expo-node/app.json
  examples/expo-node/assets/adaptive-icon.png
  examples/expo-node/assets/favicon.png
  examples/expo-node/assets/icon.png
  examples/expo-node/assets/splash.png
  examples/expo-node/babel.config.js
  examples/expo-node/package-lock.json
  examples/expo-node/package.json
  examples/expo-node/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: update libp2p
  examples/client/package.json
  examples/client/src/App.tsx
  examples/e2e-tests/package.json
  examples/e2e-tests/test/examples/client.ts
  examples/e2e-tests/test/examples/node.ts
  examples/manager/package.json
  examples/node/package.json
  examples/node/src/index.ts
  packages/client/package.json
  packages/client/src/dealsManager.ts
  packages/client/src/index.ts
  packages/client/src/requestsManager.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/requestManager.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/queue/package.json
  packages/queue/src/index.ts
  packages/server/package.json
  packages/server/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: move buildRandomDeal to messages package
  packages/db/test/db.deals.spec.ts
  packages/messages/src/testUtils.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 🤖 Added linter autofixes
  packages/db/test/db.deals.spec.ts
  packages/messages/src/testUtils.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/test-utils/src/index.ts
Due: prettier --write, eslint --fix

fix: 🐛 Added missed export of levelDb
  packages/storage/package.json
  packages/storage/src/index.ts
  packages/storage/src/level.ts
  packages/storage/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: 🐛 Fixed file ext for cjs modules
  packages/client/package.json
  packages/constants/package.json
  packages/contracts-manger/package.json
  packages/db/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/node-api/package.json
  packages/node/package.json
  packages/pubsub/package.json
  packages/queue/package.json
  packages/react/package.json
  packages/server/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/types/package.json
  packages/utils/package.json
Due: none

feat: add path to storage options
  packages/storage/src/abstract.ts
  packages/storage/src/level.ts
Due: prettier --write, eslint --fix

feat: add LevelStorageOptions
  packages/storage/src/abstract.ts
  packages/storage/src/level.ts
Due: prettier --write, eslint --fix

feat: update superjson
  examples/client/package.json
  examples/manager/package.json
  packages/client/package.json
  packages/contracts-manger/package.json
  packages/node-api/package.json
  packages/node/package.json
  packages/pubsub/package.json
  packages/react/package.json
  packages/storage/package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 Fixed wrong arguments order in the supplierId utility
  examples/e2e-tests/test/examples/node.ts
  packages/client/test/requestManager.spec.ts
  packages/db/test/db.deals.spec.ts
  packages/messages/test/messages.spec.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/utils/src/uid.ts
  packages/utils/test/utils.uid.spec.ts
Due: prettier --write, eslint --fix

chore: 🤖 Style fixes. Removed mjs
  packages/contracts-manger/src/index.ts
  packages/logger/tsup.config.bundled_74v3hhjfmo.mjs
  packages/utils/tsup.config.bundled_g02ux34oqeu.mjs
Due: prettier --write, eslint --fix

chore: 🤖 Style fixes in changelog files
  packages/client/CHANGELOG.md
  packages/contracts-manger/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/node-api/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/pubsub/CHANGELOG.md
  packages/queue/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/server/CHANGELOG.md
  packages/storage/CHANGELOG.md
Due: prettier --write

fix: 🐛 Fixed auth cookie parser
  packages/node-api/src/server.ts
Due: prettier --write, eslint --fix

fix: 🐛 Fixed node-api types definitions
  packages/node-api/package.json
  packages/node-api/tsup.config.ts
Due: prettier --write, eslint --fix

fix: 🐛 Added export of the service router in node-api
  packages/node-api/src/router/index.ts
Due: prettier --write, eslint --fix

feat: 🎸 Updated node-api configuration options
  examples/node/src/index.ts
  package.json
  packages/node-api/src/server.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/storage/package.json
  packages/storage/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 🎸 Updated NodeProvider in the react package
  examples/manager/src/main.tsx
  examples/node/src/index.ts
  packages/node-api/src/server.ts
  packages/node-api/test/api.nodeApiServer.spec.ts
  packages/react/package.json
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/usePoller.ts
  packages/react/src/index.ts
  packages/react/src/providers/NodeProvider/NodeProviderContext.ts
  packages/react/src/providers/NodeProvider/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
